[Desktop Entry]
Version=1.0
Name=UCACoin
Comment=UCACoin P2P Cryptocurrency
Comment[fr]=UCACoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=UCACoin, eşten eşe kriptografik sanal para birimi
Exec=ucacoin-qt %u
Terminal=false
Type=Application
Icon=ucacoin128
MimeType=x-scheme-handler/ucacoin;
Categories=Office;Finance;
StartupWMClass=UCACoin-qt
