# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ucacoin Core Daemon SNAP
Comment=testnet
GenericName=ucacoin Digital Currency Daemon Client testnet network
Exec=ucacoin-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/ucacoin_testnet.png
MimeType=x-scheme-handler/uca;
Categories=X-Office;X-Finance;
Keywords=internet;ucacoin;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
